html {
  scroll-behavior: smooth;
}

body { 
  margin 0 ; 
  font-family : Open Sans, Arial, New Times Roman; 
  background-color: #101010;
  color: white;
}

a { 
  color: white;
  font-size: 15px;
}

a:hover { 
  color: lightblue;
}


.topnav { 
  overflow: hidden; 
  background-color:  #101010;
  float: right; 
  color: white;
  display: block;
  padding: 10px 30px;
} 

.topnav a { 
  float: left; 
  color: white;
  text-align: center; 
  padding: 20px 20px;
  text-decoration: none;
  font-size: 19px; 
  
}

.topnav a:hover { 
  background-color: light-blue;
  text-decoration: underline;
  color: lightblue;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}












.nav {
  height: 100%;
  width: 100%;
  background-color: #101010;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline-block;
  float: right;
  font-size: 18px;
  padding: 10px 10px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
    background-image: linear-gradient(to right, 0, 0,0,0);
    box-shadow: 0 4px 3px 0 rgba(49, 196, 190, 0.75);
  border-radius: 10px;
}

.nav > .nav-links > a:hover {

  color: white;
  border-radius: 10px;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 3px 0 rgba(236, 116, 149, 0.75);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px 10px;
  }
  .nav-title img { 
    display: none;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: center;
    display: block;
    width: 100%;
    background-color: #101010;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}





















p.clear-right{
  clear: right;
}

p.clear-left {
  clear: left;
}

#right-image {
  float: right;    
  margin: 0 0 0 15px;
}

#left-image {
  float: right;    
  margin: 0 0 0 1px;
}




.space {
  width: 54px;
  height: auto;
  display: inline-block;
}


.card { 
  box-shadow: 10px 5px 10px 0px rgb(0,0,0,0.2);
  max-width: 300px; 
  margin: 0;
  text-align: left;
  font-family: Georgia;  
  color: white;
  padding: 40px 72px;
  position: relative;
  float: inherit;
  display: inline-block;
  background-color: #101010;
  border-radius: 10px;
}

.position { 
  color: grey;
  font-size: 22px;
}

.card button { 
  border: none; 
  outline: 0 ; 
  padding: 12px;
  color: white; 
  background-color: black;
  background-image: linear-gradient(to bottom , pink, lightblue);
  border-radius: 305px;
  text-align: center; 
  cursor: pointer;
  width: 100%; 
  font-size: 18px;
  box-shadow: 10px 5px 10px 0px rgb(0,0,0,0.2);
}

.card button:hover { 
  background-color: lightgrey;
}


.intro_button { 
  padding: 10px 20px; 
  border-radius: 50px; 
  
}

.intro_button a { 
  color: black; 
  padding: 20px 20px;
  text-decoration: none;
}

.intro_button a:hover { 
  color: lightblue;
  text-decoration: none;
}

.hide { 
  z-index: -1 ;
  position: relative ;
}








<!-- Flip card -->



.border_a { 
  margin: 70px;
  padding-top: 100px;
}


/* Left column */
.leftcolumn {   
  float: left;
  width: 25%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 75%;
}


/*
<br><p><a href="#">Home</a></p>
<br><p><a href="#">About us</a></p>
<br><p><a href="#">Pokemon Cards</a></p>
<br><p><a href="#">Merch</a></p>
<br><p><a href="#">Careers</a></p>
<br><p><a href="#">Privacy Policy</a></p> <!--do research in and learn about this -->
<br><p><a href="#">Terms of Service</a></p>
<br><p><a href="#">Contact us</a></p>

*/



.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.card_background {
   background-color: transparent;
   padding: 20px; 
}

.flip-card {
  background-color: lightgrey;
  border: 10px solid black;
  width: 250px;
  height: 350px;
  perspective: 1000px;
  display: inline-block;
  text-align: center; 
  border-radius: 20px;
  margin: 45px 25px;
  float: left; 
  padding: 10px 10px;
}

.flip-card p { 
  text-align: center; 
  position: relative;
  display: inline-block;
  color: black ;
  margin: 10;
}

.flip-card-inner {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
  border-radius: 15px;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
}

.flip-card-border {
  background-color: transparent;
  width: 400px;
  height: 500px;
  perspective: 1000px;
  display: inline-block; 
  float: left;
  padding: 20px 15px;
}

.card_button button { 
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}



.card_button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.card_button:focus {
    outline: none;
}

.card_button.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 3px 0 rgba(49, 196, 190, 0.75);
}
.card_button.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 3px 0 rgba(229, 66, 10, 0.75);
}
.card_button.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 3px 0 rgba(116, 79, 168, 0.75);
}
.card_button.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 3px 0 rgba(252, 104, 110, 0.75);
}
.card_button.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 3px 0 rgba(23, 168, 108, 0.75);
}
.card_button.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 3px 0 rgba(83, 176, 57, 0.75);
}
.card_button.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 3px 0 rgba(126, 52, 161, 0.75);
}

.header-logo {
  position: absolute;
  top: 56%;
  left: 5%;
  width: 20px;
  height: 10px;
  z-index: auto;
}






.filter_card { 
  color: black; 
  text-align: left; 
  padding: 10px 20px;
}

.filter_card a { 
  color: black; 
  text-decoration: none; 
} 

.filter_card a:hover { 
  text-decoration: underline;
  color: black; 
}





















.new {
  padding: 5px;
  display: inline-block;
  margin: 10px;
}

.form-group {
  display: block;
  margin-bottom: 10px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

























//SIGN UP 

.Sign_Up_container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 400px;
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.Sign_Up{
    padding: 30px 40px;
}

.Sign_Up-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.Sign_Up-control label{
    color:#777;
    display: block;
    margin-bottom: 5px; 
}
 
.Sign_Up-control input
{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;   
}

.Sign_Up-control input:focus{
    outline: 0;
    border-color: #777;

}

.Sign_Up-control.success input {
    border-color: var(--succes-color);
}

.Sign_Up-control.error input {
    border-color: var(--error-color);    
}

.Sign_Up-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.Sign_Up-control.error small{
    visibility: visible;
}
.Sign_Up button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 16px;
    margin-top:20px;
    width:100%;
}








































.filter_select,
.filter_select * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.filter_select {
  position: relative;
  background-color: #E6E6E6;
  border-radius: 4px;
}
.filter_select select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 80%;
  padding: 8px 44px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.filter_select select:active, .filter_select select:focus {
  outline: none;
  box-shadow: none;
}
.filter_select:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

























/*Login Form TOP */


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: blue;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}


.links-login { 
  text-align: justify; 
  padding: 0px;
  display: inline-block;
  margin: auto;
  float: right;
}

.links-login a{ 
  text-decoration: underline;
  text-align: justify; 
  padding: 0px;
  display: inline-block;
  margin: auto;
  float: right;
  color: black;
  font-size: 10px;
  font-family: georgia;
}


.container {
  padding: 16px;
}

span.uname {
  float: right;
  padding-top: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 10px;
  color: black;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  left: 50%:
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.5s;
  animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}







/*Login Form 2 TOP */




/* Modal Content/Box */
.modal-content-2 {
  background-color: white;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid white;
  width: 100px; /* Could be more or less, depending on screen size */
  height: 100px;
}


/* The Modal (background) */
.modal-2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 10px;
  color: black;
}

.card { 
  display: none;
  box-shadow: 100px 5px 10px 0px rgb(0,0,0,0.2);
  max-width: 300px; 
  margin: 0;
  text-align: left;
  font-family: Georgia;  
  color: white;
  padding: 40px 72px;
  position: relative;
  float: inherit;
  display: inline-block;
  background-color: #101010;
  border-radius: 10px;
}



















<!-- FOOTER -->

.footer-section {
  background: white;
  position: relative;
}

.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 10px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 1px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon img {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}


.footer-widget-heading h3 {
  color: h
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 100px;
  background: lightblue;
}

.footer-widget { 
  width: 33%; 
  float: left;

}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 33.33%;
  margin-bottom: 12px;
  padding: 10px 10px;
  padding: 10px 10px;
  margin: 10px;
}
.footer-widget ul li a:hover{
  color: white;
}
.footer-widget ul li a {
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673); 
  box-shadow: 0 4px 3px 0 rgba(23, 168, 108, 0.75);
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 300px;
  padding: 14px 15px;
  background: black;
  color: white;
}

.subscribe-form button i {
  color: black;
  font-size: 42px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 10px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: lightblue;
}
.footer-menu li a {
  font-size: 18px;
  color: #878787;
}

@media screen and (max-width: 800px) {
  .row { 
    margin: 1px;
    width: 300px;
  } 
  .footer-widget { 
    margin: 1px;
    width: 300px;
  }
  .nav-links { 
    margin: 10px;
  } 
} 











 @charset "utf-8";
        @import url(http://weloveiconfonts.com/api/?family=fontawesome);

        [class*="fontawesome-"]:before {
          font-family: 'FontAwesome', sans-serif;
        }


        p {
          line-height: 1.5em;
        }

        after { clear: both; }

        .login {
          margin: 50px auto;
          width: 320px;
        }

        .login form {
          margin: auto;
          padding: 22px 22px 22px 22px;
          width: 100%;
          border-radius: 5px;
          background: #282e33;
          border-top: 3px solid #434a52;
          border-bottom: 3px solid #434a52;
        }

        .login form span {
          background-color: #363b41;
          border-radius: 3px 0px 0px 3px;
          border-right: 3px solid #434a52;
          color: #606468;
          display: block;
          float: left;
          line-height: 50px;
          text-align: center;
          width: 50px;
          height: 50px;
        }

        .login form input[type="email"] {
          background-color: #3b4148;
          border-radius: 0px 3px 3px 0px;
          color: #a9a9a9;
          margin-bottom: 1em;
          padding: 0 16px;
          width: 90%;
          height: 50px;
        }

        .login form input[type="password"] {
          background-color: #3b4148;
          border-radius: 0px 3px 3px 0px;
          color: #a9a9a9;
          margin-bottom: 1em;
          padding: 0 16px;
          width: 90%;
          height: 50px;
        }

        .login form input[type="submit"] {
          background: #b5cd60;
          border: 0;
          width: 100%;
          height: 40px;
          border-radius: 3px;
          color: white;
          cursor: pointer;
          transition: background 0.3s ease-in-out;
        }
        #login form input[type="submit"]:hover {
          background: #16aa56;
        }




































<!-- col-lg-12 means large devices, screen width equal to larger than 1200px or larger --> 

/* sign up and login page */ 

.policy { 
  color: black; 
  text-align: center; 
}

.policy a { 
  color: grey; 
  text-decoration: underline;
} 

.policy a:hover { 
  color: lightgrey; 
  text-decoration: none;
} 


.privacy_policy { 
  color: white; 
  text-align: justify;
  margin: 10px;
  border-left: 300px solid #101010;
  border-right: 300px solid #101010;
  border-top: 100px solid #101010;
} 








/* slideshow */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




/* About Us page */



/* The browser window */
.about_container {
  border: 1px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Container for columns and the top "toolbar" */
.about_row {
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Create three unequal columns that floats next to each other */
.about_column {
  float: left;
}

.about_left {
  width: 15%;
}

.about_right {
  width: 10%;
}

.about_middle {
  width: 75%;
}

/* Clear floats after the columns */
.about_row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.about_dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field */
.about_container input[type=text] {
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: white;
  margin-top: -8px;
  height: 25px;
  color: #666;
  padding: 5px;
}

/* Three bars (hamburger menu) */
.bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

/* Page content */
.about_content {
  padding: 100px;
  text-align: left;
  display: inline-block;
  clear: right;
}
.about_content h2{
  text-align: left;
}








/* table */ 
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px 10px;

}

th, td {
  text-align: center;
  padding: 16px;
  color: white;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: grey;
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}










/* user rating */

 
.accredited_fa {
  font-size: 25px;
}

.accredited_checked {
  color: orange;
}

/* Three column layout */
.accredited_side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.accredited_middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.accredited_right {
  text-align: right;
}

/* Clear floats after the columns */
.accredited_row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.accredited_bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .accredited_side, .accredited_middle {
    width: 100%;
  }
  .accredited_right {
    display: none;
  }
}









/* Shopping cart */ 

#shop { 
  float: left;
  margin: 0 0 0 15px;
  padding-right: 40px;
}


/* Left column */
.cart_leftcolumn {   
  float: left;
  width: 53%;
  padding-left: 10%;
}

/* Right column */
.cart_rightcolumn {
  float: left;
  width: 25%;
  padding-right: 10%;
  padding-left: 20px;
}

/* Fake image */
.cart_fakeimg {
  background-color: #101010;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.cart_card {
   background-color: #101010;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.cart_row:after {
  content: "";
  display: table;
  clear: both;
}
 
@media screen and (max-width: 800px) {
  .cart_leftcolumn, .cart_rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}




/* product */


.product_column {
  float: left;
  width: 45%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.product_row::after {
  content: "";
  clear: both;
  display: table;
}




/* product description and reviews */ 


/* Style tab links */
.product_tablink {
  background-color: lightblue;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 20%;
}

.product_tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.product_tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: auto;
  width: 600px;
  border-radius: 20px;
  border: 1px solid lightgrey;
}

#Description {background-color: white;}
#Customer_Reviews {background-color: white;}


@media screen and (max-width: 800px) {
  .desc_size { 
    margin: 0;
  } 
  .product_row, product_column { 
    padding-left: 10px;
  } 
}
